@import "tailwindcss";

.btn-primary {
  @apply bg-[#1959AC] text-white hover:bg-[#0546D2] font-semibold rounded-sm shadow-lg active:scale-95 hover:scale-105 transition-all duration-300 px-6 py-1 pb-1.5;
}

.link-primary {
  @apply text-[#0546D2] hover:text-[#0546D2] font-semibold text-2xl;
}

.typo{
  @apply text-[#222222] text-[18px];
}

.heading-lg {
  @apply font-['Roboto_Condensed'] text-[42px] font-bold tracking-[-0.02em] text-[#222222];
}

.subheading-md {
  @apply font-['Inter'] text-[20px] font-semibold tracking-[-0.02em] text-[#222222];
}

.subheading-lg {
  @apply font-['Inter'] text-[18px] tracking-[-0.02em] text-[#222222];
}

.hvav{
  @apply active:scale-95 hover:scale-105 transition-all duration-300 cursor-pointer;
}

.gradr{
  @apply h-4 bg-gradient-to-r from-blue-900 via-green-600 to-blue-950 z-10;
}